<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#!page1">Home</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!page2">Page 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!page3">Page 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!page4">Page 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!page5">Page 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!page6">Page 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!page7">sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!page8">shopping cart</a>
                </li>
                
                
            </ul>
        </div>
    </div>
</nav>

<div ng-controller="dummy1" class="container mt-5">

    <input type="text" ng-model="sample">
    <button ng-click="add()" class="rounded bg-primary"> add</button>

    <button ng-click="generateRandom()" class="rounded bg-primary">
        users
    </button>
    <h1 ng-repeat="x in data">{{x.name}}</h1>
    <!-- <br>{{randomNumber}} -->
    <!-- <br>{{data}} -->
    <!-- <br>{{getValue}} -->
    <!-- <my-customer info="naomi" on-close="hideDialog(message)"></my-customer> -->
    <!-- <hr> -->
    <!-- <my-customer info="igor" on-close="hideDialog(message)"></my-customer> -->
</div>
<!-- <w3-test-directive></w3-test-directive> -->


<!-- <div id="allHTML"></div> -->

<!-- <script src="./script2.js"></script> -->